In [1]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.0.0-cp312-cp312-win_amd64.whl.metadata (2.0 kB)
Downloading mysql_connector_python-9.0.0-cp312-cp312-win_amd64.whl (14.3 MB)
   ---------------------------------------- 0.0/14.3 MB ? eta -:--:--
   ---------------------------------------- 0.0/14.3 MB ? eta -:--:--
   ---------------------------------------- 0.1/14.3 MB 1.3 MB/s eta 0:00:11
   - -------------------------------------- 0.5/14.3 MB 4.1 MB/s eta 0:00:04
   -- ------------------------------------- 0.8/14.3 MB 4.7 MB/s eta 0:00:03
   --- ------------------------------------ 1.1/14.3 MB 5.1 MB/s eta 0:00:03
   --- ------------------------------------ 1.4/14.3 MB 5.3 MB/s eta 0:00:03
   ---- ----------------------------------- 1.7/14.3 MB 5.4 MB/s eta 0:00:03
   ----- ---------------------------------- 2.0/14.3 MB 5.5 MB/s eta 0:00:03
   ------ --------------------------------- 2.2/14.3 MB 5.6 MB/s eta 0:00:03
   ------ --------------------------------- 2.2/14.3 MB 5.2 MB/s eta 0:00:03
   ------ --------------------------------- 2.2/14.3 MB 5.2 MB/s eta 0:00:03
   ------ --------------------------------- 2.2/14.3 MB 5.2 MB/s eta 0:00:03
   ------- -------------------------------- 2.6/14.3 MB 4.4 MB/s eta 0:00:03
   --------- ------------------------------ 3.3/14.3 MB 5.3 MB/s eta 0:00:03
   --------- ------------------------------ 3.6/14.3 MB 5.2 MB/s eta 0:00:03
   ---------- ----------------------------- 3.9/14.3 MB 5.3 MB/s eta 0:00:02
   ----------- ---------------------------- 4.2/14.3 MB 5.3 MB/s eta 0:00:02
   ------------ --------------------------- 4.5/14.3 MB 5.4 MB/s eta 0:00:02
   ------------- -------------------------- 4.8/14.3 MB 5.4 MB/s eta 0:00:02
   -------------- ------------------------- 5.0/14.3 MB 5.4 MB/s eta 0:00:02
   -------------- ------------------------- 5.3/14.3 MB 5.5 MB/s eta 0:00:02
   --------------- ------------------------ 5.6/14.3 MB 5.5 MB/s eta 0:00:02
   ---------------- ----------------------- 5.9/14.3 MB 5.5 MB/s eta 0:00:02
   ----------------- ---------------------- 6.2/14.3 MB 5.6 MB/s eta 0:00:02
   ------------------ --------------------- 6.5/14.3 MB 5.6 MB/s eta 0:00:02
   ------------------ --------------------- 6.8/14.3 MB 5.6 MB/s eta 0:00:02
   ------------------- -------------------- 7.0/14.3 MB 5.6 MB/s eta 0:00:02
   -------------------- ------------------- 7.3/14.3 MB 5.7 MB/s eta 0:00:02
   --------------------- ------------------ 7.6/14.3 MB 5.7 MB/s eta 0:00:02
   ---------------------- ----------------- 7.9/14.3 MB 5.7 MB/s eta 0:00:02
   ---------------------- ----------------- 8.2/14.3 MB 5.7 MB/s eta 0:00:02
   ----------------------- ---------------- 8.5/14.3 MB 5.7 MB/s eta 0:00:02
   ------------------------ --------------- 8.7/14.3 MB 5.7 MB/s eta 0:00:01
   ------------------------- -------------- 9.0/14.3 MB 5.7 MB/s eta 0:00:01
   ------------------------- -------------- 9.3/14.3 MB 5.7 MB/s eta 0:00:01
   -------------------------- ------------- 9.6/14.3 MB 5.7 MB/s eta 0:00:01
   --------------------------- ------------ 9.9/14.3 MB 5.7 MB/s eta 0:00:01
   ---------------------------- ----------- 10.2/14.3 MB 5.7 MB/s eta 0:00:01
   ----------------------------- ---------- 10.4/14.3 MB 6.0 MB/s eta 0:00:01
   ----------------------------- ---------- 10.7/14.3 MB 5.8 MB/s eta 0:00:01
   ------------------------------ --------- 11.0/14.3 MB 5.8 MB/s eta 0:00:01
   ------------------------------- -------- 11.3/14.3 MB 5.8 MB/s eta 0:00:01
   -------------------------------- ------- 11.6/14.3 MB 5.8 MB/s eta 0:00:01
   --------------------------------- ------ 11.9/14.3 MB 5.8 MB/s eta 0:00:01
   --------------------------------- ------ 12.2/14.3 MB 5.8 MB/s eta 0:00:01
   ---------------------------------- ----- 12.4/14.3 MB 6.4 MB/s eta 0:00:01
   ----------------------------------- ---- 12.7/14.3 MB 6.3 MB/s eta 0:00:01
   ------------------------------------ --- 13.0/14.3 MB 6.2 MB/s eta 0:00:01
   ------------------------------------- -- 13.3/14.3 MB 6.0 MB/s eta 0:00:01
   ------------------------------------- -- 13.6/14.3 MB 6.0 MB/s eta 0:00:01
   -------------------------------------- - 13.8/14.3 MB 6.0 MB/s eta 0:00:01
   -------------------------------------- - 13.9/14.3 MB 5.9 MB/s eta 0:00:01
   -------------------------------------- - 13.9/14.3 MB 5.9 MB/s eta 0:00:01
   ---------------------------------------  14.3/14.3 MB 5.8 MB/s eta 0:00:01
   ---------------------------------------  14.3/14.3 MB 5.8 MB/s eta 0:00:01
   ---------------------------------------- 14.3/14.3 MB 5.6 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.0.0
Note: you may need to restart the kernel to use updated packages.

In [5]:
import mysql.connector

# Membuat koneksi ke database MySQL
conn = mysql.connector.connect(
    host="localhost",      # Ganti dengan host server MySQL
    user="root",           # Ganti dengan username MySQL
    password="",   # Ganti dengan password MySQL
    database="tokoonline" # Ganti dengan nama database yang ingin dihubungkan
)

# Membuat cursor
cursor = conn.cursor()

# Mengecek apakah koneksi berhasil
if conn.is_connected():
    print("Koneksi berhasil!")
else:
    print("Koneksi gagal.")


# Menjalankan query SELECT
cursor.execute("SELECT * FROM pelanggan")

# Mendapatkan semua hasil dari query
results = cursor.fetchall()

# Menampilkan hasil query
for row in results:
    print(row)

Koneksi berhasil!
(1, 'Budi', 'Jl. Mawar 1', 'budi@example.com')
(2, 'Ani', 'Jl. Melati 2', 'ani@example.com')
(3, 'Citra', 'Jl. Kamboja 3', 'citra@example.com')
(4, 'Dedi', 'Jl. Tulip 4', 'dedi@example.com')
(5, 'Eka', 'Jl. Anggrek 5', 'eka@example.com')

In [7]:
try:
    query = "INSERT INTO pelanggan (Nama_Pelanggan, Alamat) VALUES (%s, %s)"  # Ganti dengan nama tabel dan kolom yang sesuai
    values = ("John Doe", "Jl. Merdeka No. 10")  # Data yang ingin ditambahkan

    cursor.execute(query, values)
    conn.commit()  # Simpan perubahan ke database
    print(f"{cursor.rowcount} data berhasil ditambahkan.")
except mysql.connector.Error as err:
    print(f"Error: {err}")

1 data berhasil ditambahkan.

In [23]:
import mysql.connector

# Membuat koneksi ke database MySQL
def get_connection():
    return mysql.connector.connect(
        host="localhost",      
        user="root",           
        password="",   
        database="perpustakaandigital"
    )

# CREATE: Menambah data baru ke tabel pelanggan
def create_pelanggan(nama, alamat):
    conn = get_connection()
    cursor = conn.cursor()
    try:
        query = "INSERT INTO pelanggan (Nama_Pelanggan, Alamat) VALUES (%s, %s)"
        cursor.execute(query, (nama, alamat))
        conn.commit()
        print(f"Data pelanggan {nama} berhasil ditambahkan.")
    except mysql.connector.Error as err:
        print(f"Error: {err}")
    finally:
        cursor.close()
        conn.close()

# READ: Menampilkan semua data dari tabel pelanggan
def read_pelanggan():
    conn = get_connection()
    cursor = conn.cursor()
    try:
        query = "SELECT * FROM pelanggan"
        cursor.execute(query)
        results = cursor.fetchall()

        print("Data Pelanggan:")
        for row in results:
            print(f"ID: {row[0]}, Nama: {row[1]}, Alamat: {row[2]}")
    except mysql.connector.Error as err:
        print(f"Error: {err}")
    finally:
        cursor.close()
        conn.close()

# UPDATE: Mengubah data pelanggan berdasarkan id
def update_pelanggan(id_pelanggan, nama_baru, alamat_baru):
    conn = get_connection()
    cursor = conn.cursor()
    try:
        query = "UPDATE pelanggan SET Nama_Pelanggan = %s, Alamat = %s WHERE ID_pelanggan = %s"
        cursor.execute(query, (nama_baru, alamat_baru, id_pelanggan))
        conn.commit()
        print(f"Data pelanggan dengan ID {id_pelanggan} berhasil diubah.")
    except mysql.connector.Error as err:
        print(f"Error: {err}")
    finally:
        cursor.close()
        conn.close()

# DELETE: Menghapus data pelanggan berdasarkan id
def delete_pelanggan(id_pelanggan):
    conn = get_connection()
    cursor = conn.cursor()
    try:
        query = "DELETE FROM pelanggan WHERE ID_Pelanggan = %s"
        cursor.execute(query, (id_pelanggan,))
        conn.commit()
        print(f"Data pelanggan dengan ID {id_pelanggan} berhasil dihapus.")
    except mysql.connector.Error as err:
        print(f"Error: {err}")
    finally:
        cursor.close()
        conn.close()

# Menjalankan fungsi CRUD
if __name__ == "__main__":
    # Menambah data (CREATE)
    create_pelanggan("Jonathan", "Jl.  No. 10")

    # Menampilkan semua data (READ)
    read_pelanggan()

    # Mengubah data (UPDATE)


    # Menampilkan semua data setelah update
    read_pelanggan()

    # Menghapus data (DELETE)
    delete_pelanggan(2)

    # Menampilkan semua data setelah delete
    read_pelanggan()

Data pelanggan Jonathan berhasil ditambahkan.
Data Pelanggan:
ID: 1, Nama: Johnathan Doe, Alamat: Jl. Kemerdekaan No. 45
ID: 3, Nama: John Doe, Alamat: Jl. Merdeka No. 10
ID: 4, Nama: Jane Smith, Alamat: Jl. Kebangsaan No. 123
ID: 5, Nama: Jonathan, Alamat: Jl. Nusantara No. 10
ID: 6, Nama: Jane Smith, Alamat: Jl. Kebangsaan No. 123
ID: 7, Nama: Jonathan, Alamat: Jl. Nusantara No. 10
ID: 8, Nama: Jane Smith, Alamat: Jl. Kebangsaan No. 123
ID: 9, Nama: Jonathan, Alamat: Jl.  No. 10
ID: 10, Nama: Jane Smith, Alamat: Jl. Kebangsaan No. 123
ID: 11, Nama: Jonathan, Alamat: Jl.  No. 10
Data Pelanggan:
ID: 1, Nama: Johnathan Doe, Alamat: Jl. Kemerdekaan No. 45
ID: 3, Nama: John Doe, Alamat: Jl. Merdeka No. 10
ID: 4, Nama: Jane Smith, Alamat: Jl. Kebangsaan No. 123
ID: 5, Nama: Jonathan, Alamat: Jl. Nusantara No. 10
ID: 6, Nama: Jane Smith, Alamat: Jl. Kebangsaan No. 123
ID: 7, Nama: Jonathan, Alamat: Jl. Nusantara No. 10
ID: 8, Nama: Jane Smith, Alamat: Jl. Kebangsaan No. 123
ID: 9, Nama: Jonathan, Alamat: Jl.  No. 10
ID: 10, Nama: Jane Smith, Alamat: Jl. Kebangsaan No. 123
ID: 11, Nama: Jonathan, Alamat: Jl.  No. 10
Data pelanggan dengan ID 2 berhasil dihapus.
Data pelanggan dengan ID 3 berhasil dihapus.
Data pelanggan dengan ID 4 berhasil dihapus.
Data pelanggan dengan ID 5 berhasil dihapus.
Data pelanggan dengan ID 6 berhasil dihapus.
Data pelanggan dengan ID 7 berhasil dihapus.
Data pelanggan dengan ID 8 berhasil dihapus.
Data Pelanggan:
ID: 1, Nama: Johnathan Doe, Alamat: Jl. Kemerdekaan No. 45
ID: 9, Nama: Jonathan, Alamat: Jl.  No. 10
ID: 10, Nama: Jane Smith, Alamat: Jl. Kebangsaan No. 123
ID: 11, Nama: Jonathan, Alamat: Jl.  No. 10

In [24]:
import mysql.connector

# Membuat koneksi ke database MySQL
def get_connection():
    return mysql.connector.connect(
        host="localhost",      
        user="root",           
        password="",   
        database="perpustakaandigital"
    )

# CREATE: Menambah data baru ke tabel buku
def create_buku(judul_buku, pengarang, tahun_terbit, kategori, jumlah):
    conn = get_connection()
    cursor = conn.cursor()
    try:
        query = "INSERT INTO buku (Judul_Buku, Pengarang, Tahun_Terbit, Kategori, Jumlah) VALUES (%s, %s, %s, %s, %s)"
        cursor.execute(query, (judul_buku, pengarang, tahun_terbit, kategori, jumlah))
        conn.commit()
        print(f"Data buku {judul_buku} berhasil ditambahkan.")
    except mysql.connector.Error as err:
        print(f"Error: {err}")
    finally:
        cursor.close()
        conn.close()

# READ: Menampilkan semua data dari tabel buku
def read_buku():
    conn = get_connection()
    cursor = conn.cursor()
    try:
        query = "SELECT * FROM buku"
        cursor.execute(query)
        results = cursor.fetchall()

        print("Data Buku:")
        for row in results:
            print(f"ID: {row[0]}, Judul: {row[1]}, Pengarang: {row[2]}, Tahun: {row[3]}, Kategori: {row[4]}, Jumlah: {row[5]}")
    except mysql.connector.Error as err:
        print(f"Error: {err}")
    finally:
        cursor.close()
        conn.close()

# UPDATE: Mengubah data buku berdasarkan id
def update_buku(id_buku, judul_baru, pengarang_baru, tahun_terbit_baru, kategori_baru, jumlah_baru):
    conn = get_connection()
    cursor = conn.cursor()
    try:
        query = "UPDATE buku SET Judul_Buku = %s, Pengarang = %s, Tahun_Terbit = %s, Kategori = %s, Jumlah = %s WHERE ID_Buku = %s"
        cursor.execute(query, (judul_baru, pengarang_baru, tahun_terbit_baru, kategori_baru, jumlah_baru, id_buku))
        conn.commit()
        print(f"Data buku dengan ID {id_buku} berhasil diubah.")
    except mysql.connector.Error as err:
        print(f"Error: {err}")
    finally:
        cursor.close()
        conn.close()

# DELETE: Menghapus data buku berdasarkan id
def delete_buku(id_buku):
    conn = get_connection()
    cursor = conn.cursor()
    try:
        query = "DELETE FROM buku WHERE ID_Buku = %s"
        cursor.execute(query, (id_buku,))
        conn.commit()
        print(f"Data buku dengan ID {id_buku} berhasil dihapus.")
    except mysql.connector.Error as err:
        print(f"Error: {err}")
    finally:
        cursor.close()
        conn.close()

In [27]:
# CREATE: Menambah data baru ke tabel peminjaman
def create_peminjaman(id_anggota, tanggal_pinjam, tanggal_kembali, id_petugas, status):
    conn = get_connection()
    cursor = conn.cursor()
    try:
        query = "INSERT INTO peminjaman (ID_Anggota, Tanggal_Pinjam, Tanggal_Kembali, ID_Petugas, Status) VALUES (%s, %s, %s, %s, %s)"
        cursor.execute(query, (id_anggota, tanggal_pinjam, tanggal_kembali, id_petugas, status))
        conn.commit()
        print(f"Data peminjaman berhasil ditambahkan.")
    except mysql.connector.Error as err:
        print(f"Error: {err}")
    finally:
        cursor.close()
        conn.close()

# READ: Menampilkan semua data dari tabel peminjaman
# READ: Menampilkan semua data dari tabel peminjaman
def read_peminjaman():
    conn = get_connection()
    cursor = conn.cursor()
    try:
        query = "SELECT * FROM peminjaman"
        cursor.execute(query)
        results = cursor.fetchall()

        print("Data Peminjaman:")
        for row in results:
            # Sesuaikan jumlah kolom dengan tabel peminjaman yang memiliki 5 kolom
            print(f"ID: {row[0]}, Tanggal Pinjam: {row[1]}, Tanggal Kembali: {row[2]}, ID Anggota: {row[3]}, Status: {row[4]}")
    except mysql.connector.Error as err:
        print(f"Error: {err}")
    finally:
        cursor.close()
        conn.close()


# UPDATE: Mengubah data peminjaman berdasarkan id
def update_peminjaman(id_peminjaman, tanggal_kembali_baru, status_baru):
    conn = get_connection()
    cursor = conn.cursor()
    try:
        query = "UPDATE peminjaman SET Tanggal_Kembali = %s, Status = %s WHERE ID_Peminjaman = %s"
        cursor.execute(query, (tanggal_kembali_baru, status_baru, id_peminjaman))
        conn.commit()
        print(f"Data peminjaman dengan ID {id_peminjaman} berhasil diubah.")
    except mysql.connector.Error as err:
        print(f"Error: {err}")
    finally:
        cursor.close()
        conn.close()

# DELETE: Menghapus data peminjaman berdasarkan id
def delete_peminjaman(id_peminjaman):
    conn = get_connection()
    cursor = conn.cursor()
    try:
        query = "DELETE FROM peminjaman WHERE ID_Peminjaman = %s"
        cursor.execute(query, (id_peminjaman,))
        conn.commit()
        print(f"Data peminjaman dengan ID {id_peminjaman} berhasil dihapus.")
    except mysql.connector.Error as err:
        print(f"Error: {err}")
    finally:
        cursor.close()
        conn.close()

In [35]:
if __name__ == "__main__":
    # CRUD untuk Buku
    create_buku("Python Programming", "John Doe", 2020, "Programming", 10)
    read_buku()
    update_buku(1, "Advanced Python", "John Doe", 2021, "Programming", 15)
    delete_buku(1)
    read_buku()

    # CRUD untuk Peminjaman
    create_peminjaman(1, "2024-09-01", "2024-09-15", 2, "On-time")
    
    update_peminjaman(1, "2024-09-20", "Returned")
    delete_peminjaman(1)
    read_peminjaman()

Error: 1062 (23000): Duplicate entry '0' for key 'PRIMARY'
Data Buku:
ID: 0, Judul: Python Programming, Pengarang: John Doe, Tahun: 2020, Kategori: Programming, Jumlah: 10
ID: 2, Judul: Data Science, Pengarang: Jane Smith, Tahun: 2020, Kategori: Teknologi, Jumlah: 10
ID: 3, Judul: Algoritma dan Struktur Data, Pengarang: Ahmad Zaki, Tahun: 2016, Kategori: Pemrograman, Jumlah: 8
ID: 4, Judul: Kecerdasan Buatan, Pengarang: Andi Setiawan, Tahun: 2019, Kategori: Teknologi, Jumlah: 7
ID: 5, Judul: Jaringan Komputer, Pengarang: Budi Santoso, Tahun: 2015, Kategori: Teknologi, Jumlah: 6
Data buku dengan ID 1 berhasil diubah.
Data buku dengan ID 1 berhasil dihapus.
Data Buku:
ID: 0, Judul: Python Programming, Pengarang: John Doe, Tahun: 2020, Kategori: Programming, Jumlah: 10
ID: 2, Judul: Data Science, Pengarang: Jane Smith, Tahun: 2020, Kategori: Teknologi, Jumlah: 10
ID: 3, Judul: Algoritma dan Struktur Data, Pengarang: Ahmad Zaki, Tahun: 2016, Kategori: Pemrograman, Jumlah: 8
ID: 4, Judul: Kecerdasan Buatan, Pengarang: Andi Setiawan, Tahun: 2019, Kategori: Teknologi, Jumlah: 7
ID: 5, Judul: Jaringan Komputer, Pengarang: Budi Santoso, Tahun: 2015, Kategori: Teknologi, Jumlah: 6
Error: 1054 (42S22): Unknown column 'ID_Petugas' in 'field list'
Data peminjaman dengan ID 1 berhasil diubah.
Error: 1451 (23000): Cannot delete or update a parent row: a foreign key constraint fails (`perpustakaandigital`.`detail_peminjaman`, CONSTRAINT `detail_peminjaman_ibfk_1` FOREIGN KEY (`ID_Peminjaman`) REFERENCES `peminjaman` (`ID_Peminjaman`))
Data Peminjaman:
ID: 1, Tanggal Pinjam: 2024-01-10, Tanggal Kembali: 2024-09-20, ID Anggota: 1, Status: Returned
ID: 2, Tanggal Pinjam: 2024-01-15, Tanggal Kembali: 2024-01-22, ID Anggota: 2, Status: Returned
ID: 3, Tanggal Pinjam: 2024-01-20, Tanggal Kembali: 2024-01-27, ID Anggota: 3, Status: Returned
ID: 4, Tanggal Pinjam: 2024-01-25, Tanggal Kembali: 2024-02-01, ID Anggota: 4, Status: Overdue